@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700);

html,
body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    line-height: 1.8;
    color: #999;
    scrollbar-width: thin;
    /* Pour Firefox */
    scrollbar-color: transparent transparent;
    /* Pour Firefox */
    -ms-overflow-style: none;
    /* Pour Internet Explorer et Edge */
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}



.plus-icon {
    font-size: 24px;
    /* Taille de la police */
    font-weight: bold;
    /* Épaisseur du texte */
    color: #000;
    /* Couleur du texte */
    margin-left: 5px;
    /* Marge à gauche pour l'espace */
    /* Vous pouvez également ajouter d'autres styles selon vos préférences */
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.no-padding [class^="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.main-container {
    padding: 100px 0;
}

.center {
    text-align: center;
}

a {
    -webkit-transition: all .3s;
    transition: all .3s
}

.uppercase {
    text-transform: uppercase;
}

.h-30 {
    height: 30px
}

.h-10 {
    height: 10px
}

.color {
    color: #6d2f8a;
    font-size: 11px;
}


/* typography
==================================================*/

h1 {
    color: #393939;
    font-size: 60px;
    text-transform: uppercase;
}

h3 {
    color: #393939;
}

h5 {
    color: #8647a3;
}


/* preloader
==================================================*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f5f5f5;
    /* change if the mask should be a color other than white */
    z-index: 1000;
    /* makes sure it stays on top */
}

.pre-container {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #8647a3;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes bounce {

    0%,
    100% {
        -webkit-transform: scale(0.0)
    }

    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }

    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}


/* headr
==================================================*/
/* Style initial pour le texte "Menu" et les traits */

body,
html {
    margin: 0;
    padding: 0;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    pointer-events: none;
    background-color: transparent;
    /* Fond transparent */
}

.box-header {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.95);
    height: 50px;
    width: 100%;
    z-index: 3;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.box-header {
    height: 80px;
    background: transparent;
    box-shadow: none;
}

.box-header {
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.box-header.is-fixed {
    position: fixed;
    top: -80px;
    background-color: rgba(255, 255, 255, 0.96);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.box-header.is-visible {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.box-header.menu-is-open {
    background-color: #fff;
}

.box-logo {
    display: block;
    padding: 20px;
}

.box-logo .rounded {
    border-radius: 10%;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.box-logo .rounded:hover {
    transform: scale(1.1);
    /* Zoom au survol à 120% de la taille d'origine */
}

.box-primary-nav-trigger {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background-color: #fff;
}

.box-primary-nav-trigger .box-menu-icon.is-clicked::before,
.box-primary-nav-trigger .box-menu-icon.is-clicked::after {
    background-color: #000;
    /* Couleur noire */
    box-shadow: none;
}

.box-primary-nav-trigger .box-menu-text {
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    display: none;
    background-color: #ffffff3c;
    padding-left: 4px;
    padding-right: 40px;
    border-radius: 10px;
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.5);
}

.box-primary-nav-trigger .black {
    color: #000;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    font-size: 20px;
}

.box-primary-nav-trigger .black:hover {
    transform: scale(1.3);
    /* Zoom au survol à 120% de la taille d'origine */
}

.black {
    color: #000;
}

.box-primary-nav-trigger .box-menu-icon {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
    width: 18px;
    height: 2px;
    background-color: #000000;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    list-style: none;
}

.box-primary-nav-trigger .box-menu-icon::before,
.box-primary-nav-trigger .box-menu-icon:after {
    content: '';
    width: 120%;
    height: 120%;
    position: absolute;
    background-color: #000;
    box-shadow: 0px 0px 5px #8715ea;
    right: 0;
    -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
    -webkit-transition: top .3s, background-color 0s, -webkit-transform .3s;
    transition: top .3s, background-color 0s, -webkit-transform .3s;
    transition: transform .3s, top .3s, background-color 0s;
    transition: transform .3s, top .3s, background-color 0s, -webkit-transform .3s;
}

.box-primary-nav-trigger .violet-ico::before,
.box-primary-nav-trigger .violet-ico:after {
    box-shadow: 0px 0px 5px #8715ea;
}

.box-primary-nav-trigger .violet-ico.is-clicked::before,
.box-primary-nav-trigger .violet-ico.is-clicked::after {
    box-shadow: 0px 0px 5px #8715ea;
}

.box-primary-nav-trigger .vert-ico::before,
.box-primary-nav-trigger .vert-ico:after {
    box-shadow: 0px 0px 5px #15ea1c;
}

.box-primary-nav-trigger .vert-ico.is-clicked::before,
.box-primary-nav-trigger .vert-ico.is-clicked::after {
    box-shadow: 0px 0px 5px #15ea1c;
}

.box-primary-nav-trigger .bleu-ico::before,
.box-primary-nav-trigger .bleu-ico:after {
    box-shadow: 0px 0px 5px #159cea;
}

.box-primary-nav-trigger .bleu-ico.is-clicked::before,
.box-primary-nav-trigger .bleu-ico.is-clicked::after {
    box-shadow: 0px 0px 5px #159cea;
}

.box-primary-nav-trigger .jaune-ico::before,
.box-primary-nav-trigger .jaune-ico:after {
    box-shadow: 0px 0px 5px #eab815;
}

.box-primary-nav-trigger .jaune-ico.is-clicked::before,
.box-primary-nav-trigger .jaune-ico.is-clicked::after {
    box-shadow: 0px 0px 5px #eab815;
}

.box-primary-nav-trigger .rouge-ico::before,
.box-primary-nav-trigger .rouge-ico:after {
    box-shadow: 0px 0px 5px #ea1555;
}

.box-primary-nav-trigger .rouge-ico.is-clicked::before,
.box-primary-nav-trigger .rouge-ico.is-clicked::after {
    box-shadow: 0px 0px 5px #ea1555;
}

.box-primary-nav-trigger .orange-ico.is-clicked::before,
.box-primary-nav-trigger .orange-ico.is-clicked::after {
    box-shadow: 0px 0px 5px #f67b29;
}

.box-primary-nav-trigger .orange-ico::before,
.box-primary-nav-trigger .orange-ico:after {
    box-shadow: 0px 0px 5px #f67b29;
}



.box-primary-nav-trigger .box-menu-icon::before {
    top: -5px;
}

.box-primary-nav-trigger .box-menu-icon::after {
    top: 5px;
}

.box-primary-nav-trigger .box-menu-icon.is-clicked {
    background-color: rgba(178, 26, 26, 0);
    box-shadow: none;
}

.box-primary-nav-trigger .box-menu-icon.is-clicked::before,
.box-primary-nav-trigger .box-menu-icon.is-clicked::after {
    background-color: 393939;
}

.box-primary-nav-trigger .box-menu-icon.is-clicked::before {
    top: 0;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);

}

.box-primary-nav-trigger .box-menu-icon.is-clicked::after {
    top: 0;
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}

.box-primary-nav-trigger {
    width: 50px;
    border-radius: 10px;
    background-color: #ffffff3c;
    height: 30px;
    line-height: 30px;
    right: 10px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

}

.box-primary-nav-trigger .box-menu-text {
    display: inline-block;
    margin-left: -30%;
}

.box-primary-nav-trigger .box-menu-icon {
    left: auto;
    right: 1em;
    -webkit-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
}

.box-primary-nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #191919;
    z-index: 2;
    text-align: center;
    padding: 50px 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    list-style: none;
    overflow-x: hidden;
}

.box-primary-nav li {
    font-size: 30px;
    font-size: 1.375rem;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: -15px;
    text-transform: capitalize;
    text-shadow: 0 0 0 transparent;
    /* Ombre portée transparente par défaut */
    transition: text-shadow 0.1s ease;
    /* Transition pour l'ombre du texte */
    transition: transform 0.3s ease;
}

.box-primary-nav li:hover {
    text-shadow: 2px 2px 5px #8647a3;
    /* Ombre portée au survol */
    transform: scale(1.1);
}


.box-primary-nav a {
    display: inline-block;
    padding: .4em 1em;
    border-radius: 0.25em;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    cursor: default;
    font-size: 30px;
}

.box-primary-nav a:focus {
    outline: none;
}

.no-touch .box-primary-nav a:hover {
    text-decoration: none;
    color: #ddd;
}

.box-primary-nav .box-label {
    color: #e11d10;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 17px;
    margin: 2.4em 0 .8em;
    cursor: default;
}

.box-primary-nav .box-social {
    display: inline-block;
    margin: 10px .4em;
    cursor: default;
}

.box-primary-nav .box-social a {
    width: 40px;
    height: 30px;
    padding: 0;
    font-size: 50px;
    cursor: default;
}

.box-primary-nav.is-visible {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.box-primary-nav {
    padding: 150px 0 0;
}

.box-primary-nav li {
    font-size: 18px;
}


/* box-intro
==================================================*/

.box-intro {
    text-align: center;
    display: table;
    height: 100vh;
    width: 100%;
}

.box-intro .image-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.box-intro .table-row {
    display: table-row;
}

.box-intro .table-cell {
    display: table-cell;
    vertical-align: middle;
}

.box-intro em {
    font-style: normal;
    text-transform: uppercase
}

b i:last-child {
    color: #8647a3;
}

.box-intro h5 {
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #999;
    line-height: 1.7
}


/* mouse effect */

.scroll {
    position: absolute;
    left: 50%;
    bottom: 100px;
    display: block;
    text-align: center;
    font-style: 20px;
    z-index: 0;
    text-decoration: none;
    text-shadow: 0;
    width: 13px;
    height: 13px;
    border-bottom: 2px solid #8647a3;
    border-right: 2px solid #8647a3;
    animation: fade_move_down 2s cubic-bezier(0.19, 0.2, 0.22, 1) infinite;
    transform-origin: center center;
    /* Ajuste le point autour duquel l'élément va pivoter */
    transform: rotate(45deg);
}

@keyframes fade_move_down {
    0% {
        transform: translateY(0) rotate(45deg);
        ;
        opacity: 0%;
    }

    100% {
        transform: translateY(50px) rotate(45deg);
        ;
        opacity: 100%;
    }
}

@-webkit-keyframes intro {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes intro {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes finger {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

@keyframes finger {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}


/* text rotate */

.box-headline {
    font-size: 130px;
    line-height: 1.0;
}

.box-words-wrapper {
    display: inline-block;
    position: relative;
}

.box-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
    text-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
}

.box-words-wrapper b.is-visible {
    position: relative;
}

.no-js .box-words-wrapper b {
    opacity: 0;
}

.no-js .box-words-wrapper b.is-visible {
    opacity: 1;
}

.box-headline.rotate-2 .box-words-wrapper {
    -webkit-perspective: 300px;
    perspective: 300px;
}

.box-headline.rotate-2 i,
.box-headline.rotate-2 em {
    display: inline-block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.box-headline.rotate-2 b {
    opacity: 0;
}

.box-headline.rotate-2 i {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(-20px) rotateX(90deg);
    transform: translateZ(-20px) rotateX(90deg);
    opacity: 0;
}

.is-visible .box-headline.rotate-2 i {
    opacity: 1;
}

.box-headline.rotate-2 i.in {
    -webkit-animation: box-rotate-2-in 0.4s forwards;
    animation: box-rotate-2-in 0.4s forwards;
}

.box-headline.rotate-2 i.out {
    -webkit-animation: box-rotate-2-out 0.4s forwards;
    animation: box-rotate-2-out 0.4s forwards;
}

.box-headline.rotate-2 em {
    -webkit-transform: translateZ(20px);
    transform: translateZ(20px);
}

.no-csstransitions .box-headline.rotate-2 i {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 0;
}

.no-csstransitions .box-headline.rotate-2 i em {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.no-csstransitions .box-headline.rotate-2 .is-visible i {
    opacity: 1;
}

@-webkit-keyframes box-rotate-2-in {
    0% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(90deg);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(-10deg);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0deg);
    }
}

@keyframes box-rotate-2-in {
    0% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(90deg);
        transform: translateZ(-20px) rotateX(90deg);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(-10deg);
        transform: translateZ(-20px) rotateX(-10deg);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0deg);
        transform: translateZ(-20px) rotateX(0deg);
    }
}

@-webkit-keyframes box-rotate-2-out {
    0% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0);
    }

    60% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-100deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-90deg);
    }
}

@keyframes box-rotate-2-out {
    0% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0);
        transform: translateZ(-20px) rotateX(0);
    }

    60% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-100deg);
        transform: translateZ(-20px) rotateX(-100deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-90deg);
        transform: translateZ(-20px) rotateX(-90deg);
    }
}


/* portfolio section
==================================================*/

.portfolio .categories-grid span {
    font-size: 30px;
    margin-bottom: 30px;
    display: inline-block;
}

.portfolio .categories-grid .categories ul li {
    list-style: none;
    margin: 20px 0;
}

.portfolio .categories-grid .categories ul li a {
    display: inline-block;
    color: #60606e;
    padding: 0 10px;
    margin: 0 10px;
    -webkit-transition: all .1s ease-in-out .1s;
    transition: all .1s ease-in-out .1s;
}

.portfolio .categories-grid .categories ul li a:hover,
.portfolio .categories-grid .categories ul li a:focus {
    text-decoration: none;
    margin-left: 0;
    background-color: rgba(183, 183, 183, 0.226);
    padding: 0px 20px;
    border-radius: 25px;
    text-decoration: none;
    cursor: pointer;
}

.portfolio .categories-grid .categories ul li a.active {
    margin-left: 0;
    background-color: #8647a3;
    padding: 0px 20px;
    color: white;
    border-radius: 25px;
    text-decoration: none;
}

.portfolio_filter {
    padding-left: 0;
}

.portfolio_item {
    position: relative;
    overflow: hidden;
    display: block;
    border-radius: 60px;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5);
    max-width: 98%;
    margin-left: 10px;
    margin-right: 5px;
}

.portfolio_item .portfolio_item_hover {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.portfolio_item .portfolio_item_hover .item_info {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 100%;
    font-weight: bold;
}

.portfolio_item .portfolio_item_hover .item_info span {
    display: block;
    color: #fff;
    font-size: 18px;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    -webkit-transition: all .2s ease-in-out .2s;
    transition: all .2s ease-in-out .2s;
    opacity: 0;
}

.portfolio_item .portfolio_item_hover .item_info em {
    font-style: normal;
    display: inline-block;
    background-color: #8647a3;
    padding: 5px 20px;
    border-radius: 25px;
    color: #ffffff;
    margin-top: 10px;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    -webkit-transition: all .3s ease-in-out .3s;
    transition: all .3s ease-in-out .3s;
    opacity: 0;
    font-size: 10px;
    letter-spacing: 2px;
}

.portfolio_item:hover .portfolio_item_hover {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.portfolio_item:hover .item_info em,
.portfolio_item:hover .item_info span {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.portfolio .categories-grid .categories ul li {
    float: left;
}

.portfolio .categories-grid .categories ul li a {
    cursor: pointer;
    padding: 0 10px;
    -webkit-transition: all .1s ease-in-out .1s;
    transition: all .1s ease-in-out .1s;
}

.contact-cv {
    width: 18% !important;
    margin-bottom: 20px;
    padding: 5px;
    margin-top: 5px;
    margin-left: 40%;
    cursor: pointer;
    align-content: center;
    text-align: center;
    background-color: #8647a3a5 !important;
}

.cv-cv {
    width: 20%;
    padding: 5px;
    margin-top: -60px;
    margin-left: 40%;
    cursor: pointer;
    align-content: center;
    text-align: center;
    background-color: #8647a3a5 !important;
}

.etude-cv {
    height: 500px;
}


.portfolio_filter {
    padding-left: 0;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.portfolio-inner {
    padding-bottom: 0 !important;
    padding-top: 55px;
}


/* footer
==================================================*/

.noirBg {
    padding: 30px 0;
    text-align: center;
    margin: 40px;
    margin-bottom: 10px;
    box-shadow: 10px -10px 15px 0 rgba(0, 0, 0, 0.5);
    border-radius: 35px;
    background: url(../img/projBg.png);
}

.resizetabcomp {
    height: 500px;
    width: 100%;
    border: #363636 solid 3px;
    align-items: center;
}

.copyright {
    color: #fff;
    margin-bottom: 0;
}

footer img {
    margin: 0 auto;
}

/* Espace après le footer */
.espace-apres-footer {
    height: 20px;
}

/* end footer
==================================================*/


/* bgColors
==================================================*/
.bleuBg {
    padding: 30px 0;
    text-align: center;
    margin: 40px;
    margin-bottom: 10px;
    box-shadow: 10px -10px 15px 0 rgba(0, 0, 0, 0.5);
    border-radius: 35px;
    background: url(../img/gsbBg.png);
}

.vertBg {
    padding: 30px 0;
    text-align: center;
    margin: 40px;

    box-shadow: 10px -10px 15px 0 rgba(0, 0, 0, 0.5);
    border-radius: 35px;
    background: url(../img/awocBg.png);
}

.jauneBg {
    padding: 30px 0;
    text-align: center;
    margin: 40px;
    margin-bottom: 10px;
    box-shadow: 10px -10px 15px 0 rgba(0, 0, 0, 0.5);
    border-radius: 35px;
    background: url(../img/mgBg.png);
}

.jauneContactBg {
    padding: 30px 0;
    text-align: center;
    margin: 40px;
    margin-bottom: 10px;
    box-shadow: 10px -10px 15px 0 rgba(0, 0, 0, 0.5);
    border-radius: 35px;
    background: url(../img/contactBg.png);
}

.tabCompBg {
    padding: 30px 0;
    text-align: center;
    margin: 40px;
    margin-bottom: 10px;
    box-shadow: 10px -10px 15px 0 rgba(0, 0, 0, 0.5);
    border-radius: 35px;
    background: url(../img/tabCompBg.png);
}

.rougeBg {
    padding: 30px 0;
    text-align: center;
    margin: 40px;
    margin-bottom: 10px;
    box-shadow: 10px -10px 15px 0 rgba(0, 0, 0, 0.5);
    border-radius: 35px;
    background: url(../img/certifBg.png);
}

.violetBg {
    padding: 30px 0;
    text-align: center;
    margin: 40px;
    margin-bottom: 10px;
    box-shadow: 10px -10px 15px 0 rgba(0, 0, 0, 0.5);
    border-radius: 35px;
    background: url(../img/itilBg.png);
}

.vtBg {
    padding: 30px 0;
    text-align: center;
    margin: 40px;
    margin-bottom: 10px;
    box-shadow: 10px -10px 15px 0 rgba(0, 0, 0, 0.5);
    border-radius: 35px;
    background: url(../img/vtBg.png);
}

.bleuclairBg {
    padding: 30px 0;
    text-align: center;
    margin: 40px;
    margin-bottom: 10px;
    box-shadow: 10px -10px 15px 0 rgba(0, 0, 0, 0.5);
    border-radius: 35px;
    background: url(../img/parcoursBg.png);
}

.vertclairBg {
    padding: 30px 0;
    text-align: center;
    margin: 40px;
    margin-bottom: 10px;
    box-shadow: 10px -10px 15px 0 rgba(0, 0, 0, 0.5);
    border-radius: 35px;
    background: url(../img/competenceBg.png);
}

.noirBg {
    padding: 30px 0;
    text-align: center;
    margin: 40px;
    margin-bottom: 10px;
    box-shadow: 10px -10px 15px 0 rgba(0, 0, 0, 0.5);
    border-radius: 35px;
    background: url(../img/projBg.png);
}

/* end bgColors
==================================================*/


/* backto top
==================================================*/

.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 20px;
    line-height: 40px;
    font-size: 20px;
    right: 10px;
    text-align: center;
    color: #fff;
    background: rgba(133, 62, 173, 0.8);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
    border-radius: 10px;
}

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}

.cd-top.cd-fade-out {
    opacity: .5;
}

.no-touch .cd-top:hover,
.no-touch .cd-top:focus {
    background-color: #8647a3;
    opacity: 1;
    color: #fff;
}


/* About page
==================================================*/

.image-wrapper {
    text-align: center;
    /* Centrer l'image horizontalement */

}

.tete {
    max-width: 13%;
    /* Assurez-vous que l'image ne dépasse pas la largeur du conteneur */
    height: auto;
    /* Ajustez la hauteur de l'image en conséquence */
    border-radius: 10%;
    margin-top: 10%;
    margin-bottom: 5%;
    /* Ajoutez d'autres styles selon vos besoins, comme la marge, le padding, etc. */
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease-in-out;
    transform-style: preserve-3d;
}

.tete:hover {
    transform: scale(1.1);
}

.bar-mg {
    color: #333;
    background: url(../img/mgBg.png);
    padding: 150px 0 150px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    text-align: center;
}

.bar-parc {
    color: #333;
    background: url(../img/parcoursBg.png);
    padding: 150px 0 150px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    text-align: center;
}

.bar-comp {
    color: #333;
    background: url(../img/competenceBg.png);
    padding: 150px 0 150px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    text-align: center;
}

.bar-contact {
    color: #333;
    background: url(../img/contactBg.png);
    padding: 150px 0 150px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    text-align: center;
}

.bar-vt {
    color: #333;
    background: url(../img/vtBg.png);
    padding: 150px 0 150px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    text-align: center;
}

.bar-orange {
    color: #333;
    background: url(../img/tabCompBg.png);
    padding: 150px 0 150px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    text-align: center;
}

.bar-cv {
    color: #333;
    background: url(../img/cvBg.png);
    padding: 150px 0 150px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    text-align: center;
}

.bar-certif {
    color: #333;
    background: url(../img/certifBg.png);
    padding: 150px 0 150px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    text-align: center;
}

.bar-projet {
    color: #333;
    background: url(../img/projBg.png);
    padding: 150px 0 150px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    text-align: center;
}

.bar-itil {
    color: #333;
    background: url(../img/itilBg.png);
    padding: 150px 0 150px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    text-align: center;
}

.bar-GSB {
    color: #333;
    background: url(../img/gsbBg.png);
    padding: 150px 0 150px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    text-align: center;
}

.bar-awoc {
    color: #333;
    background: url(../img/awocBg.png);
    padding: 150px 0 150px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    text-align: center;
}

.bar h1 {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    line-height: 50px;
}

.bar p {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
}

.bar p a {
    color: #fff;
}

.bar p a:hover,
.bar p a:focus {
    color: #888;
    text-decoration: none;
}


.social-ul {
    list-style: none;
    display: inline-block;
    padding-left: 0;
}

.social-ul li {
    margin: 0 10px;
    float: left;
    width: 40px;
    height: 30px;
}

.social-ul li a {

    color: #555;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.social-ul li a:hover {
    color: #888;
}


/* Services page
==================================================*/

.size-50 {
    font-size: 50px;
}

.service-box {
    margin-bottom: 30px;
}

.service-box h3 {
    margin-top: 0;
}


/* contact page
==================================================*/

.details-text i {
    margin-right: 10px;
}


.textarea-contact {
    height: 200px;
    width: 100%;
    border: solid 1px rgba(0, 0, 0, 0.219);
    position: relative;
    border-radius: 15px;
    box-shadow: 5px 5px 6px 0 rgba(117, 117, 117, 0.5);
}

.textarea-contact textarea {
    height: 100%;
    width: 100%;
    border: 0;
    padding: 20px;
    background-color: transparent;
    float: left;
    z-index: 2;
    font-size: 14px;
    color: #9a9a9a;
    resize: none;

}

.textarea-contact>span {
    position: absolute;
    top: 20px;
    left: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 12px;
    text-transform: uppercase;
    color: rgb(160, 159, 159);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    z-index: 1;
}

.input-contact {
    height: 40px;
    width: 100%;
    border: solid 1px rgba(0, 0, 0, 0.219);
    position: relative;
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: 5px 5px 6px 0 rgba(117, 117, 117, 0.5);
}

.input-contact input[type="text"] {
    height: 100%;
    width: 100%;
    border: 0;
    padding: 0 20px;
    float: left;
    position: relative;
    background-color: transparent;
    z-index: 2;
    font-size: 14px;
    color: #9a9a9a;
}

.input-contact>span {
    position: absolute;
    top: 50%;
    left: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 12px;
    text-transform: uppercase;
    color: rgb(160, 159, 159);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    z-index: 1;
}

.input-contact>span.active,
.textarea-contact>span.active {
    color: #928930;
    font-size: 10px;
    top: 0px;
    left: 5px;
    background-color: #fff;
    padding: 5px
}

input:focus,
textarea:focus {
    outline: none;
}

.contact-info {
    margin-top: 20px;
}

.contact-info i {
    height: 30px;
    width: 30px;
    display: inline-block;
    text-align: center;
    line-height: 33px;
    margin-right: 10px;
    color: #fff;
    font-size: 21px;
    border-radius: 5px;
}

.contact-info p {
    display: inline-block;
    margin-right: 20px;
}

.btn-box {
    padding: 10px 50px;
    border-radius: 0;
    color: #fff;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    border-radius: 30px;
    transition: transform 0.3s ease;
    box-shadow: 5px 5px 6px 0 rgba(117, 117, 117, 0.5);
}

.btn-box:hover,
.btn-box:focus {
    transform: scale(0.9);
    /* Zoom au survol à 120% de la taille d'origine */
    color: #fff;
}


/* single project page
==================================================*/

.cat-ul {
    padding-left: 0;
    list-style: none
}

.cat-ul li i {
    margin-right: 10px;
    color: #8647a3;
}

.cat-ul li .bleu {
    margin-right: 10px;
    color: #3C8ABC;
}

.cat-ul li .vert {
    margin-right: 10px;
    color: #358E5D;
}

.cat-ul li .jaune {
    margin-right: 10px;
    color: #BDAF0D;
}

.cat-ul li .rouge {
    margin-right: 10px;
    color: #983248;
}

.cat-ul li .orange {
    margin-right: 10px;
    color: #f67b29;
}



/* Responsive media queries
==================================================*/

@media (max-width: 991px) {
    .portfolio .categories-grid span {
        margin-bottom: 0;
        text-align: center;
        width: 100%;
    }

    .portfolio .categories-grid .categories ul li {
        text-align: center;
    }

    .portfolio .categories-grid .categories ul li a {
        margin-left: 0;
    }

    .col-md-6 h3 {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 670px) {
    .box-headline {
        font-size: 100px;
    }

    .box-intro h5 {
        font-size: 12px;
    }

    .box-primary-nav a {
        padding: 5px 1em;
        font-size: 14px;
    }

    .box-primary-nav {
        padding: 80px 0 0;
    }

    .box-primary-nav .box-social a {
        font-size: 23px;
    }

    .top-bar h1 {
        font-size: 40px;
        line-height: 30px;
    }

    .portfolio .categories-grid .categories ul li {
        float: none;
    }
}

@media only screen and (max-width: 520px) {
    .box-headline {
        font-size: 80px;
    }

    .box-intro h5 {
        font-size: 12px;
    }

    .main-container {
        padding: 50px 0;
    }
}

@media only screen and (max-width: 420px) {
    .box-headline {
        font-size: 50px;
    }

    .box-intro h5 {
        font-size: 12px;
    }

    .top-bar h1 {
        font-size: 30px;
        line-height: 30px;
    }
}

.animate-character {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #6525a0 0%,
            #bc3ee2 29%,
            rgb(119, 55, 138) 100%,
            rgb(176, 59, 230) 67%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 20px;
}

.animate-vert {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #348357 0%,
            #358E5D 29%,
            rgb(55, 190, 100) 100%,
            rgb(38, 124, 67) 67%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 25px;
}

.animate-vert-p {
    background-image: linear-gradient(-225deg,
            #36b06d 0%,
            #358E5D 29%,
            rgb(55, 190, 100) 100%,
            rgb(39, 183, 87) 67%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 16px;
    transition: transform 0.3s ease;
}

.animate-vert-p:hover {
    transform: scale(1.03);
    /* Zoom au survol à 120% de la taille d'origine */
    cursor: default;
}

.animate-vert-hr {
    background-image: linear-gradient(-225deg,
            #36b06d 0%,
            #358E5D 29%,
            rgb(55, 190, 100) 100%,
            rgb(39, 183, 87) 67%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    border: 15px;
    transition: transform 0.3s ease;
}

.title-p-vert {
    display: inline-block;
    background: url(../img/awocBg.png);
    box-shadow: 5px 5px 7px 0 rgba(0, 0, 0, 0.5);
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
    background-size: contain;

}

.h-o {
    margin-top: -40px;
    font-size: 20px;
}

.title-text-p {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.hr-vert {
    border-color: #36b06d;
    border-width: 1px;
    width: 98%;
    border-radius: 10px;
    margin-top: -80px;
    margin-bottom: -80px;
}

.justify {
    text-align: center;
}

.animate-jaune {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #BDAF0D 0%,
            #e7d61d 29%,
            rgb(190, 185, 55) 100%,
            rgb(164, 177, 20) 67%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 25px;
}

.animate-rouge {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #983248 0%,
            #eb1342 29%,
            rgb(148, 32, 32) 100%,
            rgb(177, 20, 20) 67%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 25px;
}

.animate-orange {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #B45517 0%,
            #f67b29 29%,
            rgb(161, 68, 15) 100%,
            rgb(193, 79, 14) 67%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 25px;
}

.animate-bleu {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #3674A0 0%,
            #0a4975 29%,
            rgb(42, 131, 214) 100%,
            rgb(37, 141, 201) 67%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 25px;
}

.defaulth4 {
    color: #464343;
    font-size: 17px;
}

.defaultp {
    color: #464343;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

/* Styles de base pour la box label */
.box-primary-nav .arrow-down {
    position: relative;
    list-style: none;
    cursor: default;
    color: #8647a3;
    font-weight: 700;
    margin-top: 10px;
    font-size: 30px;
}

.box-primary-nav .arrow-down:hover {
    text-shadow: 0 0 0 transparent;
    /* Ombre portée transparente par défaut */
}

/* Flèche à afficher */
.box-primary-nav .arrow-down::after {
    content: "\25BC";
    /* Code Unicode pour la flèche vers le bas */
    display: inline-block;
    margin-left: 5px;
    /* Espacement entre le texte et la flèche */
    opacity: 0;
    /* Par défaut, la flèche est cachée */
    transition: opacity 0.3s ease-in-out;
    /* Transition pour l'affichage de la flèche */
}

/* Au survol, afficher et animer la flèche */
.box-primary-nav .arrow-down:hover::after {
    opacity: 1;
    /* Afficher la flèche au survol */
    animation: blinkArrow 0.8s infinite;
    /* Animation pour le clignotement au survol */
}

.box-primary-nav .arrow-down::before {
    content: "\25BC";
    /* Code Unicode pour la flèche vers le bas */
    display: inline-block;
    margin-left: 5px;
    /* Espacement entre le texte et la flèche */
    opacity: 0;
    /* Par défaut, la flèche est cachée */
    transition: opacity 0.3s ease-in-out;
    /* Transition pour l'affichage de la flèche */
}

/* Au survol, afficher et animer la flèche */
.box-primary-nav .arrow-down:hover::before {
    opacity: 1;
    /* Afficher la flèche au survol */
    animation: blinkArrow 0.8s infinite;
    /* Animation pour le clignotement au survol */
}

/* Animation de clignotement */
@keyframes blinkArrow {

    0%,
    100% {
        opacity: 0;
        /* Opacité initiale et finale (invisible) */
    }

    50% {
        opacity: 1;
        /* Opacité à mi-chemin (visible) */
    }
}

.selected {
    text-shadow: 3px 3px 3px #8647a3;
    color: #8647a3;
}

.box-primary-nav .whatsapp {
    color: #42C552;
    transition: font-size 0.2s ease-in-out;
    /* Transition pour la taille de la police */
    text-shadow: 3px 3px 7px rgba(255, 255, 255, 0.5);
    font-size: 45px;
    /* Taille de la police initiale */
}

.box-primary-nav .whatsapp:hover {
    font-size: 50px;
    cursor: pointer;
    /* Taille de la police agrandie */
    text-shadow: 3px 3px 7px rgba(255, 255, 255, 0.5);
}

.whatsapp {
    color: #42C552;
    transition: font-size 0.2s ease-in-out;
    /* Transition pour la taille de la police */
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 40px;
    /* Taille de la police initiale */
}

.whatsapp:hover {
    font-size: 45px;
    /* Taille de la police agrandie */
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.box-primary-nav .instagram {
    background: linear-gradient(90deg, rgba(114, 50, 189, 1) 0%, rgba(195, 42, 163, 1) 50%, rgba(244, 111, 48, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: font-size 0.2s ease-in-out;
    /* Transition pour la taille de la police */
    text-shadow: 3px 3px 7px rgba(255, 255, 255, 0.3);
    font-size: 45px;
    /* Taille de la police initiale */
}

.box-primary-nav .instagram:hover {
    font-size: 50px;
    /* Taille de la police agrandie */
    text-shadow: 3px 3px 7px rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.instagram {
    background: linear-gradient(90deg, rgba(114, 50, 189, 1) 0%, rgba(195, 42, 163, 1) 50%, rgba(244, 111, 48, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: font-size 0.2s ease-in-out;
    /* Transition pour la taille de la police */
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    font-size: 40px;
    /* Taille de la police initiale */
}

.instagram:hover {
    font-size: 45px;
    /* Taille de la police agrandie */
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.box-primary-nav .linkedin {
    color: #126BC4;
    transition: font-size 0.2s ease-in-out;
    /* Transition pour la taille de la police */
    text-shadow: 3px 3px 7px rgba(255, 255, 255, 0.5);
    font-size: 45px;
    /* Taille de la police initiale */
}

/* Au survol, augmenter la taille de la police */
.box-primary-nav .linkedin:hover {
    font-size: 50px;
    /* Taille de la police agrandie */
    text-shadow: 3px 3px 7px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.linkedin {
    color: #126BC4;
    transition: font-size 0.2s ease-in-out;
    /* Transition pour la taille de la police */
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 40px;
    /* Taille de la police initiale */
}

/* Au survol, augmenter la taille de la police */
.linkedin:hover {
    font-size: 45px;
    /* Taille de la police agrandie */
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.box-primary-nav .github {
    transition: font-size 0.2s ease-in-out;
    /* Transition pour la taille de la police */
    text-shadow: 3px 3px 7px rgba(255, 255, 255, 0.5);
    font-size: 45px;
    /* Taille de la police initiale */
}

.box-primary-nav .github:hover {
    font-size: 50px;
    /* Taille de la police agrandie */
    text-shadow: 3px 3px 7px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.github {
    transition: font-size 0.2s ease-in-out;
    /* Transition pour la taille de la police */
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 40px;
    /* Taille de la police initiale */
    color: #131313;
}

.github:hover {
    font-size: 45px;
    /* Taille de la police agrandie */
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    color: #131313;
    cursor: pointer;
}

.cv-present {
    background-color: #6e548f;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 15px;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease;
}

.cv-present:hover {
    transform: scale(0.98);
    /* Zoom au survol à 120% de la taille d'origine */
}

.cv-photo {
    max-width: 80%;
    /* Assurez-vous que l'image ne dépasse pas la largeur du conteneur */
    height: auto;
    /* Ajustez la hauteur de l'image en conséquence */
    border-radius: 10%;
    margin-top: 15px;
    margin-bottom: 0px;
    /* Ajoutez d'autres styles selon vos besoins, comme la marge, le padding, etc. */
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.cv-photo:hover {
    transform: scale(1.1);
    /* Zoom au survol à 120% de la taille d'origine */
}

.cv-photo-main {
    max-width: 80%;
    /* Assurez-vous que l'image ne dépasse pas la largeur du conteneur */
    height: auto;
    /* Ajustez la hauteur de l'image en conséquence */
    border-radius: 10%;
    margin-top: 15px;
    margin-bottom: 0px;
    /* Ajoutez d'autres styles selon vos besoins, comme la marge, le padding, etc. */
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5);
}

.cv-present p {
    color: white;
    margin-top: 15px;
}

.cv-present li {
    color: white;
    margin-top: 15px;
}

.cv-present h3 {
    color: white;
    margin-top: 1%;
}

.cv-present .no-margin-bottom {
    margin-top: -2%;
}

.cv-present .no-margin-left {
    margin-left: -20%;

}

.cv-present .no-margin-top {
    margin-top: -4%;

}

.spaced-block {
    position: relative;
    left: 15px;
    /* Ajustez la valeur selon l'espace désiré */
}

.spaced-plus {
    left: 7.5px;
    /* Ajustez la valeur selon l'espace désiré */
}

.bord {
    border: 10px double transparent;
}

.round-button {
    position: relative;
    background-color: #393939;
    border-radius: 4em;
    font-size: 16px;
    color: white;
    margin-left: 10px;
    cursor: pointer;
    user-select: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    width: 40px;
    height: 40px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.round-button img {
    width: 20px;
    height: 20px;

}

.round-button:hover {
    transition-duration: 0.1s;
    background-color: #555555;
    transform: scale(1.1);
    /* Zoom au survol à 120% de la taille d'origine */
}

.round-button:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 30px #555555;
}

.round-button:active:after {
    box-shadow: 0 0 0 0 #555555;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top: 0;
    opacity: 1;
    transition: 0s;
}

.select-color {
    border-radius: 5px;
    margin-left: 10px;
    background-color: #393939;
    width: 30px;
    height: 30px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.select-color:hover {
    transform: scale(1.1);
    /* Zoom au survol à 120% de la taille d'origine */
    background-color: #555555;
}

.round-button:active {
    top: 1px;
}

.button-container {
    display: flex;
    /* Utilisation de flexbox */
    align-items: center;
    /* Centre verticalement les éléments */
}

.size-adjust-button {
    position: relative;
    background-color: #393939;
    border-radius: 4em;
    color: white;
    margin-left: 10px;
    cursor: pointer;
    user-select: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    width: 30px;
    height: 30px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    /* Utilisation de Flexbox */
    justify-content: center;
    /* Centre le contenu horizontalement */
    align-items: center;
    /* Centre le contenu verticalement */
}

.size-adjust-button img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.size-adjust-button:hover {
    transition-duration: 0.1s;
    background-color: #555555;
    transform: scale(1.1);
}

.size-adjust-button:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 20px #555555;
}

.size-adjust-button:active:after {
    box-shadow: 0 0 0 0 #555555;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top: 0;
    opacity: 1;
    transition: 0s;
}

.size-adjust-button:active {
    top: 1px;
}

.bleu {
    color: #3C8ABC;
}

.vert {
    color: #358E5D;
}

.fondVert {
    background-color: #358E5D;
}

.jaune {
    color: #BDAF0D;
}

.rouge {
    color: #983248;
}

.orange {
    color: #f67b29;
}

.violet {
    color: #8647a3;
}

.fondJaune {
    background-color: #947a19;
    box-shadow: 5px 5px 6px 0 rgba(117, 117, 117, 0.5);
}

.fondJaune:hover {
    background-color: #AE8E1C;
}

.gif {
    border-radius: 10px;
}

.gif:hover {
    color: none;
}

.custom-iframe {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    margin-top: -40px;
}

.unmargin {
    margin-top: -58px;
}

.unmargin2 {
    margin-top: -30px;
}

.cv-present .unli {
    margin: -2px;
}

.cvh5 {
    color: #fff;
    text-decoration: underline;
}

.cvh4 {
    color: #fff;
}

.cvh4under {
    color: #fff;
    text-decoration: underline;
}

.hr {
    margin-top: -5px;
}

.competence {
    background-color: #fff;
    padding: 10px;
    width: 400px;
    margin-left: 55px;
    border-radius: 5px;
    align-content: center;
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.5);
}

.competence img {
    margin-right: 4px;
    transition: transform 0.3s ease;
}

.competence img:hover {
    transform: scale(1.2);
    /* Zoom au survol à 120% de la taille d'origine */
}

.replace-iframe {
    display: none;
}

.img-fit {
    width: 100%;
    /* L'image prendra toute la largeur du conteneur */
    height: 100%;
    /* L'image prendra toute la hauteur du conteneur */
    object-fit: cover;
    /* L'image couvrira tout le conteneur sans être déformée */
}

.last-portfolio-item {
    width: 101.25vw;
    /* Largeur de 100% de la vue */
}

.test25 {
    width: 25vw;
}

.test50 {
    width: 50vw;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

@media screen and (max-width:900px) {
    .margin-top-ls {
        margin-top: 50%;
    }

    .logo-ls {
        max-width: 60%;
    }

    .banner-ls {
        max-height: 10%;
    }

    .fsizeh1 {
        font-size: 30px !important;
    }

    .fsizeh1gsb {
        font-size: 25px !important;
    }

    .fsizep {
        font-size: 10px !important;
    }

    .size-adjust-button,
    .round-button,
    .select-color {
        display: none;
    }

    .tete {
        margin-top: -5%;
    }

    .box-primary-nav li {
        font-size: 40px;
    }

    .box-primary-nav a {
        font-size: 25px;
    }

    .box-primary-nav {
        overflow: hidden;
    }

    iframe {
        display: none;
    }

    .replace-iframe {
        display: inline-block;
        max-width: 45%;
        /* Assurez-vous que l'image ne dépasse pas la largeur du conteneur */
        height: auto;
        /* Ajustez la hauteur de l'image en conséquence */
        border-radius: 10%;
        margin-right: 10px;
        margin-left: 5px;
        margin-bottom: 15px;

        /* Ajoutez d'autres styles selon vos besoins, comme la marge, le padding, etc. */
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
        transition: transform 0.5s ease-in-out;
        transform-style: preserve-3d;
    }

    .replace-iframe:hover {
        transform: scale(1.1);
    }

}

@media screen and (min-width: 2000px) {
    body {
        width: 100%;
        /* Réduction de la largeur de la page de 20% */
    }
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;

}

.styled-table td,
.styled-table th {
    border: 2px solid #121212;
    padding: 8px;
    text-align: center;
}

.styled-table b {
    font-weight: bold;
}

.styled-table i {
    font-style: italic;
}

.styled-table font[size='5'] {
    font-size: 20px;
    /* Adapter la taille de la police au besoin */
}

.styled-table .animate-orange {
    color: red;
    /* Modifier la couleur selon vos préférences */
}

/* Styles spécifiques pour différentes parties du tableau */
.styled-table colgroup {
    /* Vos styles pour colgroup */
}

.styled-table tr:nth-child(even) {
    background-color: #f2f2f2;
    /* Modifier la couleur d'arrière-plan des lignes paires */
}

.table-title {
    color: rgb(206, 110, 27);
}

#pdf-thumbnail {
    position: relative;
    max-width: 100%;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s;
    margin-left: 75px;
}

#pdf-overlay {
    position: absolute;
    top: 50%;
    margin-left: 575px;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    opacity: 0;
    transition: 0.3s;
}

#pdf-thumbnail:hover #pdf-overlay {
    opacity: 1;
}

#pdf-thumbnail img {
    width: 1000px;
}

#pdf-thumbnail:hover img {
    filter: brightness(70%);
}

#pdf-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

#pdf-modal-content {
    width: 70%;
    height: 70%;

}

#pdf-modal iframe {
    width: 80%;
    height: 90%;
    margin-left: 10%;
}

#close-btn {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 20px;
    display: flex;
}

#close-btn:hover {
    background-color: #2980b9;
}